@charset "UTF-8";

/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .

*/

body {
    background-color: rgba(211, 255, 213, 0.884);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(0, 255, 0);
}

h1#principal {
    text-align: center;
    background-color: greenyellow;
    color: white;
}

h2 { color: green;

}

.basico {
    color: green;
}

.intermediario {
    color: rgba(165, 155, 17, 0.664);
}

.avançado {
    color: rgba(104, 25, 25, 0.719);
}

.destaque {
    background-color: rgba(112, 112, 73, 0.582);
}

