@charset "UTF-8";

body {
    background-color: rgb(197, 127, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: rgb(255, 0, 0);
    background-color: rgb(17, 0, 255);
}
h2 {
    color: rgb(0, 255, 42);
}
p {
    text-align: justify;
    background-color: rgba(128, 0, 0, 0.308);
}
