@charset "UTF-8"

* {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body {
    background-image: linear-gradient(to right, #119BAD, #0CDEFA);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #3916d4be;
    width: 600px;
    padding: 10px;
    margin: auto
}

h1 {
    color: #FAAB00;
    text-align: center;
    text-shadow: 1px 1px 2px #c06d00;
}

h2 {
    color: #2E11AD;
}

p {
    text-align: justify;

}